<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/ANR LogoPequena.webp" type="image/x-icon">
  <title>ANR - ENAC 2025.2 - Materiais</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/headerfooter.css">
  <style>
    .material-item { margin-bottom: 2rem; }
    iframe { width: 100%; height: 360px; border-radius: 8px; }
  </style>
</head>
<body>
  <%- include('./partials/header.ejs') %>

  <main>
    <div class="container">
      <div class="card">
        <h1>📘 ENAC 2025.2 - Materiais</h1>
        <h1 class="h1azul">Tenha acesso aos conteúdos inseridos por nossos professores!</h1>
        <span class="spanContainer">PDFs e Videoaulas para turbinar seus estudos</span>
      </div>

      <div id="pdf-section" class="card">
        <% if(!pdfs.length){  %>
            <h2>Nenhum material disponível.</h2>
            <% }else{ %>
              <h2>Materiais disponíveis.</h2>
        <%  } %>
        <% pdfs.forEach(pdf => { %>
          <div class="material-item spanContainer"><strong><%= pdf.titulo %></strong><br>
          <a href="<%= pdf.material %>"  target="_blank">Visualizar PDF</a></div>
        
      <% });%>
      </div>
      <div id="video-section" class="card">

        <% if(!videos.length){  %>
            <h2>Nenhuma videoaula disponível.</h2>
            <% }else{ %>
              <h2>Videoaulas disponíveis.</h2>
        <%  } %>
        <% videos.forEach(video => { %>
          <h3><%= video.titulo %></h3>
          <iframe src="<%= video.material %>" allowfullscreen></iframe>
        
      <% });%>
      </div>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>

 
  <script src="/scripts/script.js"></script>
</body>
</html>