<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias Objetivas</title>
    <link rel="stylesheet" href="/materias.css">
</head>

<body>
  <header>
    <h1>O que estudar hoje?</h1>
    <p>Explore os principais temas jurídicos e revise com inteligência.</p>
  </header>

<div class="section-title first-title"><%= firstTitle %></div>
  <div class="container hidden">
      <% subjects1.forEach(subject => { %>
        
        <div class="card" data-id="<%= subject.id_sub_subject %>">
          <span><%= subject.name %></span>
        </div>
        
      <% }) %>

  </div>

  <div class="section-title second-title"><%= secondTitle %></div>
  <div class="container hidden">

    <% subjects2.forEach(subject => { %>
        <div class="card"  data-id="<%= subject.id_sub_subject %>">
          <span><%= subject.name %></span>
        </div>
        
      <% }) %>
 
 
  </div>

  <div class="section-title third-title" ><%= thirdTitle %></div>
  <div class="container hidden third">

    <% subjects3.forEach(subject => { %>
        <div class="card"  data-id="<%= subject.id_sub_subject %>">         
          <span><%= subject.name %></span>
        </div>
        
      <% }) %>

  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="/scripts/script.js"></script>
  <script src="/scripts/content.js"></script>
</body>

</html>