<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Quiz - Certo ou Errado</title>
  <link rel="shortcut icon" href="/images/ANR LogoPequena.webp" type="image/x-icon">
  <link rel="stylesheet" href="/questao.css">
</head>

<body>

  <%- include('./partials/header.ejs') %>
    <main class="main-content">
      <div class="section-title">Perguntas</div>

      <div class="container show">
        <div class="filtro-container">
          <div class="filtro-header" onclick="filter()">
            <h2>Filtro</h2>
            <span id="seta">▼</span>
          </div>
          <div class="filtro-conteudo" id="filtro">
            <div class="filtro-grid">
              <div class="options">
                <input type="text" placeholder="Disciplinas" class="disciplinas">
                <select id="disciplinas" name="disciplinas" multiple class="disciplinas-multiplas">
                  <% disciplinas.forEach(disciplina =>{ %>
                      <option class="option option-disciplina" value="<%= disciplina.id_disciplina %>"><%= disciplina.disciplina %></option>
                  <% }); %>
                  
                </select>
              </div>

              <div class="options">
                <input type="text" placeholder="Conteúdo" class="conteudos">
                <select id="conteudos" name="conteudos" multiple class="conteudos-multiplas">
                   <% conteudos.forEach(conteudo =>{ %>
                      <option class="option option-conteudo" value="<%= conteudo.id_conteudo %>"><%= conteudo.conteudo %></option>
                  <% }); %>
                </select>
              </div>

              <div class="options">
                <input type="text" placeholder="Tipo" class="tipo-questao">
                <select id="type" name="type" multiple class="tipo-multiplas">
                  <option class="option option-tipo" value="1">Certo e Errado</option>
                  <option class="option option-tipo" value="2">Multipla Escolha</option>

                </select>
              </div>

            </div>
            <button class="btn-buscar" onclick="search()">Buscar</button>
          </div>
        </div>
      </div>
      <div class="feedback"></div>
      <section class="question-list">
        <% questions.forEach(question=>{ %>
          <div class="card-questao"  
          data-disciplina="<%= question.id_disciplina || '' %>"
          data-conteudo="<%= question.id_conteudo || '' %>"
          data-tipo="<%= question.type || '' %>">
            <div class="question">

              <span>
                <%= question.id_questao %>. <%= question.sentence %>
              </span>
              <div class="alternativas">
                <% alternatives.forEach(alternative=> { %>
                  <% if (alternative.id_questao===question.id_questao) { %>
                    <label>
                      <input type="radio" name="resposta-<%= question.id_questao %>"
                        value="<%= alternative.id_alternative %>" data-answer="<%= alternative.answer %>"
                        data-label="<%= alternative.letter %>">
                      <%= alternative.letter %>)<%= alternative.sentence %>
                    </label>
                    <% } %>
                      <% }) %>
              </div>

              <button class="responder-btn" onclick="verificarResposta(<%= question.id_questao %>)">Responder</button>
              <div id="feedback-<%= question.id_questao %>" class="feedback"></div>
            </div>
          </div>
          <%});%>

      </section>
    </main>

    <script src="scripts/question.js"></script>
    <script src="scripts/script.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>